storage "raft" {
  path = "{{ vault_root_dir }}/vault-data/{{ ansible_hostname }}"
  node_id = "{{ ansible_hostname }}"
}
listener "tcp" {
  address     = "{{ ansible_default_ipv4.address|default(ansible_all_ipv4_addresses[0]) }}:8200"
  cluster_address = "{{ ansible_default_ipv4.address|default(ansible_all_ipv4_addresses[0]) }}:8201"
  tls_client_ca_file = "{{ vault_ca_path }}"
  tls_cert_file = "{{ vault_cert_path }}"
  tls_key_file = "{{ vault_cert_key_path }}"
}

seal "azurekeyvault" {
  client_id      = "{{ vault_autounseal_az_client_id }}"
  client_secret  = "{{ vault_autounseal_az_client_secret }}"
  tenant_id      = "{{ vault_autounseal_az_tenant_id }}"
  vault_name     = "{{ vault_autounseal_az_vault_name }}"
  key_name       = "{{ vault_autounseal_az_keyname }}"
}


ui=true
disable_cache = true
disable_mlock = true
cluster_addr = "https://{{ ansible_default_ipv4.address|default(ansible_all_ipv4_addresses[0]) }}:8201"
api_addr = "https://{{ ansible_default_ipv4.address|default(ansible_all_ipv4_addresses[0]) }}:8200"

